body{
	margin:0;
}












header{
	display: flex;
	justify-content: space-around;
	background-color: grey;
	padding: 20px;
}

header .logo img{
	width: 50px;
}

header .navbar h5{
	width:10%;
	display: flex;
	justify-content: space-around;
}

section img{
	margin-left: auto;
  	margin-right: auto;
  	display: block;
}


footer{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

footer .upper-footer{
	position: relative;
	width: 100%;
	background-color: grey;
	color: blue;
	
	position: relative;
}

footer .upper-footer .spec{
	display: flex;
	justify-content: space-evenly;
}
	

.customize{
	position: absolute;
	right: 40px;
	top: 3px;
}

.customize a{
	background-color: yellow;
	padding: 5px;
	border-radius: 15px;


}

footer .bottom-footer{
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}